@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

body {
  margin: 0;
  background-color: #fffbf4;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Concert One", cursive;
}
